<!-- Page Header Start -->
<div class="pageheader"  >
  <h2><i class="fa fa-key"></i>Change Password</h2>
  <div class="breadcrumb-wrapper hidden-xs pull-left"> <span class="label"></span>
    <ol class="breadcrumb">
	     
    
    </ol>
  </div>
</div>
<!-- Page Header End -->


<!-- login header 
<header data-ng-controller="HeaderCtrl" data-ng-include=" 'components/common/views/login-header.html' " id="login-header" class="header-container {{admin.navbarHeaderColor}}" > </header>-->
<div cg-busy="promise" class="lock-wrapper" data-ng-controller="ChangePasswordController">
  <div class="panel lock-box">
       
    <div class="row">
      <form name="changePasswordform" class="form-inline" role="form" ng-submit='changePasswordform.$valid && changePassword(confirmPassword)' ng-hide="btnEnabled">
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
          <div class="iconic-input right">
            <label for="inputNewPassword" class="text-muted">New Password</label>
            <input id="inputNewPassword" name="inputNewPassword"  type="password"  ng-model="newPassword" placeholder="New password" ng-set-focus="inputNewPassword" set-focus-default class="form-control padding-horizontal-15" required />
            <i class="fa fa-lock"></i>
          
		  <div class="help-block " ng-show="changePasswordform.inputNewPassword.$dirty && changePasswordform.inputNewPassword.$invalid">
                <span class="text-danger" ng-show="changePasswordform.inputNewPassword.$error.required">New Password is required</span>				
            </div>
		 </div>
		 
		
          <div class="iconic-input right">
            <label for="inputConfirmPassword" class="text-muted">Confirm Password</label>
            <input id="inputConfirmPassword" name="inputConfirmPassword"  type="password"  ng-model="confirmPassword"  nx-equal="newPassword"  placeholder="Confirm password" class="form-control padding-horizontal-15" required />
            <i class="fa fa-lock"></i>
          
		  <div class="help-block " ng-show="changePasswordform.inputConfirmPassword.$dirty && changePasswordform.inputConfirmPassword.$invalid">
                <span class="text-danger" ng-show="changePasswordform.inputConfirmPassword.$error.required">Confirm Password is required</span>		
              <span class="text-danger" ng-show="changePasswordform.inputConfirmPassword.$error.nxEqual">Both Password must be equal</span>				
            </div>
		 </div>
		 
          <button type="submit" class="btn btn-block btn-primary" disable-double-click ng-disabled="changePasswordform.$invalid" >Update Password</button>
        </div>
      </form>
    </div>
  </div>
  
</div>
