
<!-- login header 
<header data-ng-controller="HeaderCtrl" data-ng-include=" 'components/common/views/login-header.html' " id="login-header" class="header-container {{admin.navbarHeaderColor}}" > </header>-->

<div cg-busy="promise" class="lock-wrapper" ng-controller="ChangePasswordController" style="top:10%; ">
  <div class="panel lock-box">
     <h4> Forgot your Password?</h4>
    <p class="text-center text-small"> Enter your Email address that you used to register. We'll send you an temporary password. </p>
    <div class="row">
      <form name="forgotform" class="form-inline" role="form" novalidate ng-submit='forgotform.$valid && getPassword()'>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
          <div class="iconic-input right">
            <label for="signinInputEmail" class="text-muted">Email</label>
            <input id="signinInputEmail" name="signinInputEmail"  type="email"  ng-model="emailID" validate-email ng-set-focus="signinInputEmail" set-focus-default placeholder="Enter Email id" class="form-control padding-horizontal-15" required />
            <i class="fa fa-envelope"></i>
          
		  <div class="help-block " ng-show="forgotform.signinInputEmail.$dirty && forgotform.signinInputEmail.$invalid">
                <span class="text-danger" ng-show="forgotform.signinInputEmail.$error.required">Email is required</span>
				   <span class="text-danger" ng-show="forgotform.signinInputEmail.$error.email">Email is invalid</span>
            </div>
		 </div>
          <button  class="btn btn-block btn-primary" ng-disabled="forgotform.$invalid"  disable-double-click>Generate New Password</button>
        </div>
      </form>
    </div>
  </div>
  <div class="registration">Go to SignIn!<a href="#/components/common/views/signin"> <span class="text-primary"> SignIn</span> </a> </div>
</div>
