<!--
<div class="cg-busy-backdrop"></div>
<div class="cg-busy-default-wrapper">
<div class="cg-busy-default-sign" >	
		<div class="modal-content modal-m">
			<div class="modal-header" style="padding-top:10px;padding-bottom:5px"><h4>{{loaderMessage}}</h4></div>
				<div class="modal-body">
				
					<div class="progress progress-striped active" style="margin-bottom:0;height:30px" >
						<div class="progress-bar" style="width: 100%; line-height: 30px;font-size:13px;font-weight:bold">{{loaderMessage}}</div>
					
					</div>
   		        </div>
		</div>
	
</div>
</div>
-->


<div class="cg-busy-default-wrapper">

   <div class="cg-busy-default-sign" >

      <div class="cg-busy-default-spinner">
         <div class="bar1" ></div>
         <div class="bar2"></div>
         <div class="bar3"></div>
         <div class="bar4"></div>
         <div class="bar5"></div>
         <div class="bar6"></div>
         <div class="bar7"></div>
         <div class="bar8"></div>
         <div class="bar9"></div>
         <div class="bar10"></div>
         <div class="bar11"></div>
         <div class="bar12" ></div>
      </div>

      <div class="cg-busy-default-text" >{{loaderMessage}}</div>

   </div>

</div>