<div class="nav-wrapper">
   <ul  id="nav"
        class="nav"
        data-ng-controller="NavCtrl"
        data-slim-scroll
		data-color="#fff"
		data-always-visible="true"
        data-collapse-nav style="text-align:center;">
       
       
	
            
        <li class="divider"></li>
        <li class="nav-title" data-i18n="Category"> </li>
		<li>
            <a href="#/components/dashboard/views/dashboard-v1"><i class="fas fa-clone mr-5"></i><span data-i18n="My Apps"></span></a>
                  </li>
       		
		<li>
      		<li>
            <a href="#/components/common/views/organization-list"><i class="fas fa-university mr-5"></i><span data-i18n="My Orgs"></span></a>
                  </li>
       		
		<li>
      		<li>
            <a href="#"><i class="fas fa-user mr-5"></i><span data-i18n="My Profile"></span></a>
                  </li>
       		
		<li>
      		<li>
            <a href="#/components/common/views/change-password"><i class="fas fa-lock mr-5"></i><span data-i18n="Change Password"></span></a>
                  </li>
       		
		<li>
                <li>
            <a href="#"><i class="fas fa-question mr-5"></i><span data-i18n="Helpdesk"></span></a>
                  </li>
       		
		<li>

      		



	      
		
		
        
    </ul>
</div>